  @charset "utf-8";
/* CSS Document */
* {
 padding:0;
 list-style:none;
 margin:0
}
   body{
	text-align:center;
	padding-top:50px;
     }
	.logo{
	padding:20px 15px;
	text-align:center;
		}
    #div{
	width:100%;
	margin: 0 auto;
	}	
	#header{
		height:10px;
	}

	#Context{
	    height:260px;
		margin-top:130px;
		}
	#box{
		 border: 1px solid  #ff7575;
		
	}
	.testbox{
			width:200px;
			height:500px;
			margin-left:70px;
			float:left;
			background-color:#333;
			display:none;
			position:absolute;
		}
		
   
	
	#Footer{
		background:#E0E0E0;
		margin-top:500px;
	}
	.footer1{
		margin-top:10px;
	}
       ul li{
	list-style-type:none;
	

                   }
     ul li a{
	color:#666;
               }
			   
   #Footer .footer3  a{
		 color:#000;
    
        }
#Footer .footer4  a{
	 color:#000;
	
}
      .footer2{
	color:#666;
           }
       #search{
     width:400px;
     height:45px;
 border:3px solid #DC143C;
        }
.testbox ul li a {
 color: #FFF;
 font-size: 14px;
 text-decoration: none;
 padding: 8px;
 margin: 6px;
 float:left;
 position: relative;
 width: 150px;
 z-index:2;
 
}
.testbox ul li a:hover {
 color: #000;
 font-size: 16px;
 text-decoration: none;
 background-color: #CCC;
 padding: 8px;
 float:left;
 position: relative;
 border-top-width: 1px;
 border-bottom-width: 1px;
 border-left-width: 1px;
 border-top-style: solid;
 border-bottom-style: solid;
 border-left-style: solid;
 border-top-color: #FFF;
 border-bottom-color: #FFF;
 border-left-color: #FFF;
 border-right-width: 1px;
 border-right-style: solid;
 border-right-color: #CCC;
 z-index: 2;
 width:160px;
}
.testbox ul li .boxshow {
background-color:#F0F0F0;
 height: 500px;
 width: 840px;
 position: absolute;
 left:170px;
 border: 1px solid #FFF;
 font-size: 12px;
 color: #000;
 padding: 8px;
 display: none;
 z-index: 1;
}
.testbox .boxshow a{
width:80px;
height:30px;
text-align:center;
font-size: 13px;
color:#000;
text-decoration: none;
}
.testbox .boxshow  a:hover {
 font-size: 14px;
 text-decoration: none;
 width:80px;
 text-align:center;
 }
 
@font-face {
  font-family: 'iconfont';  /* project id 447233 */
  src: url('http://at.alicdn.com/t/font_447233_4w1lioiiu0bv5cdi.eot');
  src: url('http://at.alicdn.com/t/font_447233_4w1lioiiu0bv5cdi.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_447233_4w1lioiiu0bv5cdi.woff') format('woff'),
  url('http://at.alicdn.com/t/font_447233_4w1lioiiu0bv5cdi.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_447233_4w1lioiiu0bv5cdi.svg#iconfont') format('svg');
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:12px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.c1{color:gray;font-style:italic;}
.c2{color:#000;font-style:normal;}
a:link,a:visited,a:hover,a:active{text-decoration:none;}
.menu{position:relative;width:100%;margin:0px auto;height:40px; background-color:#FFF;}
.menu div{position:absolute;top:0px;height:40px;font-family:"Microsoft Yahei";}
.menu .all-sort{left:70px;width:200px;text-align:center;font-size:14px;}
.menu .all-sort a{color:#FFF;display:block;width:100%;height:100%;line-height:10px;font:700 15px/40px "Microsoft Yahei";background-color:#E4393C;}
.topp{margin-left:310px;}
.menu ul li{margin-right:25px;}
.menu ul li a{color:#3C3C3C;}
.menu ul li a:hover{color:#FF2D2D; background-color:#FFF;}

.cont{
	background-color:#ffffff;
	
}
.breadcrumb
{
	width:500px;
	height:20px;
	text-align:left;
	background-color:#FFF;
	margin-top:5px;
	margin-left:62px;
	}
	.lab{
		color:#666666;
	font-size: 16px;
	}
		.breadcrumb a{
		   color:#666666;	
			text-decoration:none;
		}
		 .breadcrumb a:visted{
	color:#C30;
	text-decoration:none;
		}
        .breadcrumb a:hover{
	color:#C30;
	text-decoration:none;
		}
	.list-selector ._header	
	{
  border: 1px solid #DDD;
  background:#f1f1f1;
  height: 36px;
  width:1200px;
  line-height:36px;
  font-family:"微软雅黑";
  margin-top:5px;
  font-size:15px;
  color:#f6515d;
  margin-left:75px;
  text-align:left;
  padding-left:17px;
		}
.list-selector ._header small
{
	color:#666666;
	font-size: 12px;
	}
	.list-selector ._item {
  border-bottom: 1px solid #DDD;
  margin-left:75px;
  margin-bottom:0px;
  font-size: 13px;
  width:1200px;
}
.list-selector ._item dt {
  width: 100px;
  float: left;
  color: #666;
  line-height: 30px;
  margin-left:-30px;
}
.list-selector ._item dd {
  overflow: hidden;
  line-height: 30px;
  text-align:left;
}
.list-selector ._item dd a {
  color: #005aa0;
  display: inline-block;
  margin-left:30px;
}
.list-selector ._item dd a.active {
  color: #f7325d;
  margin-left:30px;
}
.list-filter {
  margin-up:20px;
  margin-left:70px;
  margin-top:20px;
  padding:7px;
  border: 1px solid #E7E3E7;
  width:1200px;
  height:40px;
  background: #F1F1F1;
}
.list-filter ._sort {
  float: left;
  margin-right: 24px;
  
}
.list-filter ._sort a {
  float: left;
  padding: 0 10px;
  height: 23px;
  border: 1px solid #CCC;
  line-height: 23px;
  margin-right: -1px;
  background: #FFF;
  font-size: 13px;
}
.list-filter ._sort a:hover {
  border-color: #f7325d;
  z-index: 3;
  color: #f7325d;
}
.list-filter ._sort a.active {
  color: #FFF;
  background: #f7325d;
  border-color: #f7325d;
  z-index: 3;
}
.list-filter ._sort a._down {
  background-image: url(/images/d.png);
  background-repeat: no-repeat;
  background-position: 90% center;
  padding-right: 15px;
}
.list-filter ._sort a._up {
  background-image: url(/images/u.png);
  background-repeat: no-repeat;
  background-position: 90% center;
  padding-right: 20px;
}
.list-filter ._pager {
  float: right;
  margin-right: 20px;
}
.list-filter ._pager ._text {
  line-height: 23px;
  margin-right: 10px;
  font-family: verdana;
  float: left;
}
.list-filter ._pager ._text b {
  color: #f7325d;
}
.list-filter ._pager ._text em {
  padding: 0 3px;
}
.list-filter ._pager ._text i {
  font-style: normal;
}
.list-filter ._pager a.disabled {
  background: #f1f1f1;
}
.list-filter ._pager a {
  float: left;
  width: 46px;
  height: 23px;
  border: 1px solid #DDD;
  background: #FFF;
  line-height: 23px;
  font-family: "\5b8b\4f53";
  text-align: center;
  font-size: 16px;
  color: #AAA;
}
.list-filter ._pager a._prev {
  border-right: none;
}	
.list-goods {
	padding-left:50px;
  padding-bottom: 50px;
}
.list-goods ._item {
  width: 240px;
  height: 390px;
  float: left;
  margin-left:10px;
}
.list-goods ._item ._inner {
  padding: 12px 6px;
}
.list-goods ._item:hover {
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
}
.list-goods ._item:hover ._focus {
  bottom: 0;
}
.list-goods ._img {
	width:230; 
  margin: 10px 0;
  position: relative;
  height: 230px;
  overflow: hidden;
  text-align: center;
}
.list-goods ._img ._focus {
  position: absolute;
  -webkit-transition: bottom 0.2s;
  -moz-transition: bottom 0.2s;
  -o-transition: bottom 0.2s;
  transition: bottom 0.2s;
  bottom: -50px;
  right: 0;
  font-size: 12px;
  filter: none;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  color: #eee;
  padding: 0 10px;
  text-align: center;
  height: 23px;
  line-height: 23px;
}
/*.list-goods ._img ._focus .iconfont {
  color: #f7325d;
}*/
/*.list-goods ._img ._focus .iconfont:before {
  content: "\e668";
}*/
.list-goods ._price {
  margin-bottom: 8px;
  color: #e4393c;
  font-size: 20px;
  text-align:left;
}
.list-goods ._price i {
  font-style: normal;
}
.list-goods ._name {
  margin-bottom: 8px;
  text-align:left;
}
.list-goods ._name a {
  display: block;
  font-size: 12px;
  color: #666;
  max-height: 2.7em;
  overflow: hidden;
}
.list-goods ._name a:hover {
  color: #f7325d;
}
.list-goods ._commit {
  margin-bottom: 8px;
  color: #a7a7a7;
  text-align:left;
    
}
.list-goods ._commit strong {
  font-size: 12px;
  font-weight: normal;
  text-align:left;
}
.list-goods ._commit a {
  color: #005aa0;
}
.list-goods ._shop {
  font-size: 12px;
  color: #666;
  text-align:left;
}
.list-goods ._shop a:hover {
  color: #f7325d;
}